{{#if is_this_user}}
<div class="row justify-content-end message this-user this-user-bottom">
{{else}}
<div class="row justify-content-start message other-user other-user-bottom">
    <p class="message-username">{{User.username}}: </p>
{{/if}}

    <p class="message-text">{{text}}</p>

</div>