<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4 text-center">Join a chat room now!</h1>
    {{#if logged_in}}
    <p class="lead text-center">Or create your own in the form below</p>
    <form class="d-flex justify-content-center">
      <input class="text-center" type="text" id="chat-name-input" placeholder="New Chatroom Name">
    </form>
    {{else}}
    <p class="lead text-center">or create your own after logging in</p>
    {{/if}}
  </div>
</div>
<div class="container overflow-auto scrollable-content scroll-body">
  {{#each chatrooms as |chatroom|}}
  {{>loadChatrooms}}
  {{/each}}
</div>
{{#if logged_in}}
<script src="/js/createChat.js"></script>
{{/if}}