<div class="login-container">
  <div class="flex-wrap-login">
    <form class="valid-login" action="/process" method="POST">
      <span class="login-title"> Login </span>

      <div class="valid-input">
        <input class="input" type="text" placeholder="UserName" />
      </div>

      <div class="valid-input">
        <input class="input" type="password" placeholder="Password" />
      </div>

      <br /><br />
      <div class="container-login-btn">
        <button class="login-btn" type="submit" value="login">Login</button>
      </div>
    </form>
  </div>
</div>