<div class="login-container">
  <div class="flex-wrap-login">
    <form id="login" class="valid-login" action="/process" method="POST">
      <span class="login-title"> Login </span>

      <div class="valid-input">
        <input id="login-username" class="input" type="input" placeholder="Username" />
      </div>

      <div class="valid-input">
        <input id="login-password" class="input" type="password" placeholder="Password" />
      </div>

      <br /><br />
      <div class="container-login-btn">
        <button class="login-btn" type="submit" value="login">Login</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>