<div class="login-container">
  <div class="flex-wrap-login">
    <form
      id="login"
      class="valid-login login-form"
      action="/process"
      method="POST"
    >
      <h3 class="login-title"> Login </h3>

      <div class="valid-input custom-input">
        <input
          id="login-username"
          class="input"
          type="input"
          placeholder="Username"
        />
      </div>

      <div class="valid-input custom-input">
        <input
          id="login-password"
          class="input"
          type="password"
          placeholder="Password"
        />
      </div>
      <a href="/signup">Don't have an account? Sign up here!</a>

      <br /><br />
      <div class="container-login-btn">
        <button class="login-btn" type="submit" value="login">Login</button>
      </div>
    </form>

  </div>
</div>

<script src="/js/login.js"></script>