<img class="profile-picture" src="/images/profile-placeholder.png" />
<h1 class="text-center">{{profile_info.username}}</h1>

<div class="d-flex flex-column description">
    <h3 class="text-center">Description</h3>
    <p class="text-center w-50 align-self-center">{{profile_info.description}}</p>
</div>
