<div class="login-container">
  <div class="flex-wrap-login">
    <form id="signup" class="valid-login">
      <span class="login-title"> Sign up </span>

      <div class="valid-input">
        <input id="signup-username" class="input" type="input" placeholder="Username" />
      </div>

      <div class="valid-input">
        <input id="signup-password" class="input" type="password" placeholder="Password"/>
      </div>

      <div class="valid-input">
        <textarea id="signup-description" class="input" type="input" cols="30" rows="10" placeholder="Describe yourself!"></textarea>
      </div>

      <div class="container-login-btn">
        <button class="login-btn" type="submit" value="login">signup</button>
      </div>
      
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>