<div class="login-container">
  <div class="flex-wrap-login">
    <form id="signup" class="valid-login login-form">
      <h3 class="login-title"> Sign up </h3>

      <div class="valid-input custom-input">
        <input
          id="signup-username"
          class="input"
          type="input"
          size="50"
          placeholder="Username"
        />
      </div>

      <div class="valid-input custom-input">
        <input
          id="signup-password"
          class="input"
          type="password"
          size="50"
          placeholder="Password"
        />
      </div>

      <div class="valid-input custom-input">
        <input
          id="signup-description"
          class="input"
          type="input"
          size="200"
          placeholder="Describe yourself!"
        ></input>
      </div>

      <div class="container-login-btn">
        <button class="login-btn" type="submit" value="login">signup</button>
      </div>

    </form>
  </div>
</div>

<script src="/js/signup.js"></script>