:root {
    --banner-main: #F0B67F;
    --title-main: #FE5F55;
    --button-main: #D9D9D9;
    --background-main: #EEF5DB;
    --chatroom: #C7EFCF;
    --this-user-message: #C7EFCF;
    --other-user-message: #808080;
    --text-input: #ADD8E6;
    --send-button: #008000;
}

.main-header {
    background-color: var(--banner-main);
    padding-top: 10px;
}

.main-title {
    background-color: var(--title-main);
}

.navbar {
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-item {
    background-color: var(--button-main);
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 4px;
    margin-bottom: 4px;
}