:root {
    --banner-main: #F0B67F;
    --title-main: #FE5F55;
    --button-main: #D9D9D9;
    --background-main: #EEF5DB;
    --chatroom: #C7EFCF;
    --this-user-message: #C7EFCF;
    --other-user-message: #808080;
    --text-input: #ADD8E6;
    --send-button: #008000;
}

