:root {
  --banner-main: #f0b67f;
  --title-main: #fe5f55;
  --button-main: #d9d9d9;
  --background-main: #f9fbf3;
  --chatroom: #c7efcf;
  --chatroom-body: #eafaec;
  --chatroom-text: #006eff;
  --chatroom-text-hover: #003882;
  --join-chatroom: #d3edd8;
  --this-user-message: #c7efcf;
  --other-user-message: #808080;
  --text-input: #add8e6;
  --send-button: #008000;
  --login-form: #c7efcf;
  --login-form-border: #83bc90;
  --description: #c7efcf;
  --nav-button-border: rgb(149, 149, 149);
  --nav-button-text: rgb(69, 69, 69);
  --nav-button-text-hover: rgb(132, 132, 132);
}

body {
    background-color: var(--background-main);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-header {
  background-color: var(--banner-main);
  padding-top: 10px;
}

.main-footer {
    background-color: var(--banner-main);
    text-align: center;
}

.main-title {
  background-color: var(--title-main);
}

.navbar {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-custom {
  background-color: var(--button-main);
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 5px;
  color: var(--nav-button-text);
}

.custom-input {
  font-size: 14px;
  position: relative;
}

.custom-input input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: var(--banner-main);
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 20px;
  width: 250px;
  font-size: 14px;
}
.nav-custom:hover {
  text-decoration: none;
  color: var(--nav-button-text-hover);
}


#logout {
  border-width: 0px;
}

.main-container {
  flex-grow: 1;
  position: relative;
  width: 100%;
  height: 100%;
}

.scrollable-content {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #fe5f55 #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: #fe5f55;
  border-radius: 10px;
  border: 3px solid #ffffff;
}

.message-username {
  font-size: 10px;
  position: relative;
  margin-bottom: -2px;
  margin-left: 10px;
  color: gray;
}

.message-username:hover {
  text-decoration: none;
  color: var(--login-form-border);
}

.message-div {
  margin-bottom: 12px;
}

.message {
  position: relative;
  display: flex;
  font-family: sans-serif;
  font-size: 12px;
  line-height: 14px;
  max-width: 30%;
  width: fit-content;
  word-break: break-all;
  border-radius: 40px;
  padding-top: 12px;
  padding-left: 7px;
  padding-right: 7px;
  text-align: left;
  color: #000;
  margin-bottom: 12px;
}

.other-user {
  background: var(--other-user-message);
}

.other-user-bottom:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid var(--other-user-message);
  border-right: 12px solid transparent;
  border-top: 12px solid var(--other-user-message);
  border-bottom: 12px solid transparent;
  left: 7px;
  bottom: -7px;
}

.this-user {
  background: var(--this-user-message);
  margin-left: auto;
}

.this-user-bottom:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 12px solid transparent;
  border-right: 12px solid var(--this-user-message);
  border-top: 12px solid var(--this-user-message);
  border-bottom: 12px solid transparent;
  right: 7px;
  bottom: -7px;
}

#message-form {
  justify-content: right;
}

.chatroom-list a {
  color: var(--chatroom-text);
}

.chatroom-list a:hover {
    text-decoration: none;
    color: var(--chatroom-text);
}

.chatroom-list a .card-header:hover {
  color: var(--chatroom-text-hover);
}

.card-header {
    background-color: var(--chatroom);
}

.card-body {
    background-color: var(--chatroom-body);
}

.join-chatroom {
    background-color: var(--join-chatroom);
    margin-top: 20px;
}

.login-container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    justify-content: center;
}

.login-title {
  text-align: center;
}

.login-form {
  background-color: var(--login-form);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 25px;
  padding-right: 25px;
  border: 5px solid var(--login-form-border);
}

.input {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.login-btn {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border-width: 1px;
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.profile-picture {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: table;
}

.description {
  background-color: var(--description);
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  border-radius: 10px;
  padding-top: 10px;
  min-height: 250px;
}

@media (max-width: 768px) {
  .message {
    max-width: 75%;
  }
  #message-bar {
    width: 75%;
  }
  .description {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .message {
    max-width: 60%;
  }
  .description {
    width: 75%;
  }
}
